{{!-- Galleristic Section --}}
<h1 class="text-center mt-3">{{mainTitle}}</h1>
<div class="row">

  {{#each gallery}}
 <div class="col-md-4">
  <img class="thumbnail shadow" src="{{{this.dataValues.file}}}" onclick='this.src="{{{this.dataValues.file}}}"'/>
  <br>
  <p1>Title: {{dataValues.title}}</p1>
  <br>
  <p1>Price: {{dataValues.price}}</p1>
  <br>
  <p1>Year: {{dataValues.year}}</p1>
  <br>
 </div>
  {{/each}}

</div>
